* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

section {
    width: 300px;
    border: 1px solid gray;
    background-color: blanchedalmond;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px
}

form * {
    margin: 10px 0;
}

.weather-card {
    display: none;
}

.show {
    display: block;
}