* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}


.form {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form * {
    margin: 10px 0;
}

.error-message {
    display: none;
    color: red;
    background-color: bisque;
}

.show-error {
    display: block;
}