* {
    box-sizing: border-box;
}

body { 
    margin: 0;
}


.form {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form * {
    margin: 10px 0;
}

.tip {
    display: none;
    background-color: bisque;
}

.show {
    display: block;
    font-weight: bold;
}

.low {
    color: red;
}

.medium {
    color: yellow;
}

.strong {
    color: green;
}

.hide {
    display: none;
}